<!-- user.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="styles_user_but.css">
</head>
<body>
    <h1>Welcome, User!</h1>

    <!-- Buttons to navigate to different tables -->
    <button onclick="location.href='/employee_table'">Employee Table</button>
    <button onclick="location.href='/equipment_table'">Equipment Table</button>
    <button onclick="location.href='/harvest_table'">Harvest Table</button>
    <button onclick="location.href='/order_table'">Orders Table</button>
    <button onclick="location.href='/region_table'">Regions Table</button>

    <script src="user.js"></script>
</body>
</html>