<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="styles_user_but.css">
</head>
<body>
    <h1>Welcome to the Admin Dashboard</h1>
    <div class="button-container">
        <button onclick="location.href='/admin/employee_table'">Employee Table</button>
        <button onclick="location.href='/admin/equipment_table'">Equipment Table</button>
        <button onclick="location.href='/admin/harvest_table'">Harvest Table</button>
        <button onclick="location.href='/admin/order_table'">Orders Table</button>
        <button onclick="location.href='/admin/region_table'">Regions Table</button>
    </div>
</body>
</html>